<div class="foodbox mt-3 mb-3">
  <swiper [config]="config" #swiperSlideShow>
    <ng-template swiperSlide *ngFor="let img of product.images">
      <a [routerLink]="['/house', product.id]" [state]="{data:product}">
        <img [src]="img" [alt]="product.title">
      </a>
    </ng-template>
  </swiper>

  <a [routerLink]="['/house', product.id]" [state]="{data:product}">
    <h1>{{product.title}}</h1>
  </a>
  <p>{{product.description}}</p>
  <p>{{product.price | currency:'USD'}}</p>
  <br />
  <a class="buybtn" [routerLink]="['/menu',product.id]">Llamar &nbsp;<i class="bi-whatsapp"></i></a>
</div>
